@import url('https://fonts.googleapis.com/css?family=Antic');

body {
  font-family: Antic, serif;
}

.manoaeats-landing-background {
  background: no-repeat url('images/manoa-campus.jpg');
  background-size: cover;
  height: 800px;
  padding-top: 100px;
  margin-top: -10px;
  font-family: Antic, serif;
}

.vendor-list {
  background-color: #263238;
  background-size: cover;
  padding-top: 30px;
  margin-top: -10px;
  padding-bottom: 100px;
}

.navigatorbar .item, .ui.inverted.header {
  font-family: Antic, serif;
}

