@import url('https://fonts.googleapis.com/css?family=Antic');
@import url('https://fonts.google.com/specimen/Niconne');
@import url('https://fonts.google.com/specimen/Luckiest+Guy');

body {
  font-family: Antic, serif;
}

.vendor-list {
  background-color: #263238;
  background-size: cover;
  padding-top: 30px;
  margin-top: -10px;
  padding-bottom: 100px;
}

.navigatorbar .item, .ui.inverted.header {
  font-family: Antic, serif;
}

.manoaeats-landing-background {
  background:
      linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url('images/landing-page.jpg') no-repeat center center fixed;
  background-size: 100% 90%;
  height: 675px;
  padding-top: 200px;
  margin: -10px -10px -10px -10px;
}

.topmenu {
  font-size: x-small;
}

.manoaeats-UserHomePage-background {
  background: url('images/userhomepage.jpg') no-repeat center center fixed;
  background-size: 100% 90%;
  height: 675px;
  padding-top: 200px;
  margin: -10px -10px -10px;
}

.user-home{
  font-family: 'Niconne', Luckiest+Guy;
  color: black;
  font-size: 150px;
  margin-top: 5%;
}

.search-bar{
  margin-top: 100px;
}





